.site-header {
    top: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
    position: fixed;
    margin-bottom: 1px;
    height: 85px;
    text-shadow: 1px 1px black;
  }
  .site-header .main-navigation {
    height: 100%;
  }
  .site-header .navbar-default {
    height: 100%;
    border: 0;
    background-color: transparent;
  }
  .site-header.sticky, .site-header.navbar-spread {
    background: dark-blue-grey;
  }
  .global-navbar__list .menu-item  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 28px;
    height: 85px;
    line-height: 85px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .site-header .navbar-default .navbar-brand {
    height: auto;
    padding: 23px 15px;
    line-height: 1;
  }
  .site-header .navbar-default .navbar-brand img, .site-header .navbar-default .navbar-brand svg {
    width: auto;
    height: 37px;
  }
  .site-header .global-navbar__list {
    text-align: center;
    font-size: 0;
  }
  .site-header .global-navbar__list .menu-item {
    display: inline-block;
  }
  .site-header .global-navbar__list .menu-item a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 0 28px;
    height: 85px;
    line-height: 85px;
    font-size: 18px;
  }
  .site-header .socials {
    float: right;
    margin: 31px 0;
  }
  .site-header .socials a {
    background-position: center bottom -11px;
  }
  .site-header .xs-header-form {
    display: none !important;
  }

  .socials a {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-indent: 100%;
    overflow: hidden;
    margin-left: 40px;
}

  .socials .facebook {
    background: url(../assets/facebook.svg) center top -11px no-repeat;
}

.socials .instagram {
    background: url(../assets/instagram.svg) center top -11px no-repeat;
}


.socials .twitter {
    background: url(../assets/twitter.svg) center top -11px no-repeat;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}