.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.social-icons {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-md-3 {
  width: 25%;
  float: left;
}

.col-sm-6 {
  width: 50%;
  float: left;
}

.col-sm-3 {
  width: 25%;
  float: left;
}

.container {
  width: 88.75rem;
  margin-right: auto;
  margin-left: auto;
}